@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --color-primary: #FF914D;
    --color-primary-hover: #fd6e16;
    --color-light: #f0f0f0;
    --color-dark: #505050;
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

#dashButton:hover {
    background-color: var(--color-primary-hover) !important;
    color: white;
}

.text-primary {
    color: var(--color-primary) !important;
}

.bg-light {
    background-color: var(--color-light) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

.icone:hover {
    color: var(--color-primary) !important;
}

